div.leftside {
    width: 414px;
    padding: 0px 3px 0px 0px;
    float: left;
}

div.rightside {
    margin-left: 425px;
}

div.center {
    text-align: center;
}

div.left {
    text-align: left;
}

div.right {
    text-align: right;
}

div.center > table {
    margin-left:  auto;
    margin-right: auto;
}

div.tight pre {
    line-height: 1;
}

#searchbox {
    display: none;
}

img.cc {
    height:22px!important;
    margin-left:3px;
    vertical-align:text-bottom;
}

img.math {
    vertical-align: 0px;
}

.related > .loop_first {
    margin-right: 10px;
}

table.genindextable {
    width: 100%;
}

table.genindextable td {
    width: 33%;
    vertical-align: top;
}

#search-progress {
    padding-left: 10px;
}

/************************************************************************
 * Hide <h1> headings                                                   *
 *                                                                      *
 * To use, place the following line before the first <h1> heading:      *
 *                                                                      *
 *     .. rst-class:: obscure                                           *
 *                                                                      *
 *     #############                                                    *
 *     An h1 heading                                                    *
 *     #############                                                    *
 *                                                                      *
 ************************************************************************/

.obscure > h1 {
    display: none;
}

audio {
    width: 100%;
}

video {
    width: 100%;
    height: auto;
}

/* Use eigtht notes for list bullets */

ul ul {
    list-style: none;
}

li p {
    display: contents;
    font-weight: bold;
}

ul ul li::before {
    content: "\266A";
    color: red;
    font-weight: bold;
    font-size: 150%;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.embiggen {
    font-size: 200%;
    vertical-align: sub;
}

/************************************************************************
 * Indent and italicise verses with proper line breaking as shown.      *
 *                                                                      *
 * To use:                                                              *
 *                                                                      *
 *     .. rst-class:: verse                                             *
 *                                                                      *
 *        Mary had a little lamb,                                       *
 *        Litttle lamb, little lamb.                                    *
 *                                                                      *
 *        It followed her to school one day,                            *
 *        School one day, school one day.                               *
 *                                                                      *
 ************************************************************************/

.verse {
    font-style: italic;
    white-space: pre;
    margin: 1em auto 1em auto !important;
}

.note > p {
    margin: 1em auto 1em auto !important;
}
